@model IEnumerable<Category>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}

<div class="main-container">
    <div class="product-category">
        <h2>Danh mục sản phẩm</h2>
    </div>
    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {   
        <div class="input-group custom-search-form">
                <input name ="search"type="text" class="form-control"  placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
       
    }
</div>


 @Html.ActionLink("Thêm mới", "Create", "Category", null, new { @class = "btn btn-outline btn-success" , style ="margin-bottom: 20px;"})

<table class="table">
    <tr>
        <th style="width: 5%; text-align: center;"><span>STT</span></th>
        <th scope ="col">
            <span>Tên danh mục</span>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">@(++ViewBag.itemIndex)</td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>

                @Html.ActionLink("Sửa", "Edit", new { id = item.CategoryId }) |
                <a onclick="confirmDelete('@item.CategoryId', '@item.CategoryName', '@Url.Action("Delete", "Category")','danh mục');" class="link-danger">Xóa</a>
            </td>
        </tr>
    }

</table>


<div class="pagination-admin">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { page , search = Context.Request.Query["search"]}))
</div>

<script src="~/Scripts/notify/NotifyAdmin.js"></script>