@model IEnumerable<Pharmacy.Data.Discount>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Mã giảm giá";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
    // <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
}
<div class="main-container">
    <h2 class="col">Mã giảm giá</h2>
    @using (Html.BeginForm("Index", "Discount", FormMethod.Get))
    {
        <div class="input-group custom-search-form">
            <input name="search" type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

    }
</div>

@Html.ActionLink("Thêm mới", "Create", "Discount", null, new { @class = "btn btn-outline btn-success" , style ="margin-bottom: 20px;"})


<table class="table table-bordered">
    <tr>
        <th>
            <span>Mã giảm giá</span>

        </th>
        <th>
            <span>Phần trăm giảm</span>
        </th>
        <th>
            <span>Ngày bắt đầu </span>
        </th>
        <th>
            <span>Ngày kết thúc</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercent) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountEndDate)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.DiscountId })|
                <a onclick="confirmDelete('@item.DiscountId', '@item.DiscountName', '@Url.Action("Delete", "Discount")','mã giảm giá')">Xóa</a>
            </td>
        </tr>
    }
</table>
<div class="pagination-admin">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { page , search = Context.Request.Query["search"]}))
</div>

<script src="~/Scripts/notify/NotifyAdmin.js"></script>