@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
    // Lấy Order đầu tiên từ danh sách OrderDetails (nếu danh sách không rỗng)
    var firstOrder = Model.FirstOrDefault()?.Order;
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>ID</span>
                </th>
                <th>
                    <span>Số lượng</span>
                </th>
                <th>
                    <span>Tên sản phẩm</span>
                </th>
                <th>
                    <span>Giá sản phẩm</span>
                </th>
                <th>
                    <span>Tạm tính</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                         @item.OrderDetails
                    </td>
                    <td >
                        @item.OrderDetailsQuantity
                    </td>
                     <td>
                        @item.Cost!.Product.ProductName
                    </td> 
                    <td>
                        @(string.Format("{0:N0} VNĐ",   @item.OrderDetailsPrice))
                    </td>
                    <td>
                        @(string.Format("{0:N0} VNĐ", @item.OrderDetailsTemporaryPrice))
         
                    </td>
                  
                </tr>
              
            }
        
        </tbody>
        <tr>
            <td style='text-align:left;padding: 10px;' colspan='3'></td>
            <td style='text-align:left;padding: 10px;'>Tổng cộng:</td>
            <td style='text-align:left;padding: 10px;'> @string.Format("{0:N0} VNĐ", @ViewBag.CartTotalPrice)</td>

          
           @if (firstOrder != null)
            {
                if (!firstOrder.OrderAccept && firstOrder.OrderStatus != -1)
                {

                    <td>  <a href="@Url.Action("AcceptOrder", "Order", new { OrderId = @ViewBag.OrderId })" class="btn btn-primary">Duyệt</a></td>
                }
                else if (firstOrder.OrderDelivery == 0 && ViewData["CurrentTab"]!.ToString() != "accept" && firstOrder.OrderStatus != -1)
                {
                    <td>  <a href="@Url.Action("OrderDevlivery", "Order", new { OrderId = @ViewBag.OrderId })" class="btn btn-primary">Giao hàng thành công</a></td>
                }
            }


            
            <td></td>
        </tr>
    </table>
</div>
<div>
    <i class="fa fa-reply"></i>
    @Html.ActionLink("Quay lại", "Index")
</div>
