@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<Pharmacy.Data.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}

<h2>Quản lý đơn hàng</h2>
<p>
    Danh sách đơn đặt hàng
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>ID</span>
            </th>
            <th>
                <span>Ngày đặt</span>
            </th>
            <th>
                <span>Thanh toán</span>
            </th>
            <th>
                <span>Địa chỉ đặt hàng</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td >
                    <span style="background-color: @(item.OrderStatus == 1 ? "green" : "orange"); color: white">

                        @(item.OrderStatus == 1 ? "Đã thanh toán" : "Chưa thanh toán")
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAddress)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.OrderId })|
                   @*  <a onclick="confirmDelete('@item.DiscountId', '@item.DiscountName', '@Url.Action("Delete", "Discount")','mã giảm giá')">Xóa</a> *@
                </td>
            </tr>
    }
    </tbody>
</table>
<div class="pagination-admin">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { page} ))
</div>