@model Pharmacy.ViewsModels.ProductViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Chi tiết sản phẩm";
}
<!-- Breadcrumb Start -->

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="~/Home">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="~/Products">Sản phẩm</a>
                <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="@Model.Product.ProductImage" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h2>@Model.Product.ProductName</h2>
                @{
                    string formattedCurrentPrice;
                    string formattedPrice = string.Format("{0:N0} VNĐ", @Model.Product.ProductPrice);
                    if (ViewBag.isDiscountActive)
                    {
                        double? currentPrice = @Model.Product.ProductPrice - (@Model.Product.ProductPrice * @Model.DiscountPercent / 100);
                        formattedCurrentPrice = string.Format("{0:N0} VNĐ", currentPrice);
                        

                        <h3 class="font-weight-semi-bold text-dark">@formattedCurrentPrice</h3>
                        <h4 class="text-muted ml-2"><del>@formattedPrice</del></h4>
                    }
                    else
                    {

                        <h3 class="font-weight-semi-bold text-dark">@formattedPrice</h3>
                        <h4 class="text-muted ml-2"><del>0%</del></h4>
                    }
                }
                <div class=" mb-3">
                    <strong class="text-dark mr-3">Thành phần:</strong>
                    <div class="text-black-50">
                        @Model.Product.ProductIngredients                     
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <strong class="text-dark mr-3">Danh mục:</strong>
                    <div class="text-black-50">@Model.CategoryName</div>
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Nhà cung cấp:</strong>
                    <div class="text-black-50">@Model.SupplierName</div>
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Thuốc có theo toa:</strong>
                    <div class="text-black-50">@(Model.Product.ProductPrescription.HasValue && Model.Product.ProductPrescription.Value ? "Có" : "Không")</div>
                </div>  
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Nước sản xuất:</strong>
                    <div class="text-black-50">@Model.AddressSupplier</div>
                </div>

                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
                <div class="d-flex pt-2">
                    <strong class="text-dark mr-2">Share on:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
                     @*    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Thông tin sản phẩm</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a> *@
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Mô tả sản phẩm</h4>
                        <h5>@Model.Product.ProductName</h5>
                        @Html.Raw(Model.Product.ProductDetail)
                    </div>
                   
               @*      <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Thông tin chi tiết</h4>
                        <p>Xịt họng AFree Thái Minh Pharma là sản phẩm được phát triển từ bằng sáng chế của Mỹ. Với các thành phần chính kết hợp tạo thành phân tử ZnI₂ có tác dụng diệt virus, vi khuẩn, chống viêm, hỗ trợ miễn dịch. Từ đó giảm nhanh các triệu chứng ho, sưng viêm, ngứa, đau rát họng sau 1 - 2 lần xịt.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        Tác dụng tại chỗ, hỗ trợ làm giảm nhanh ngứa họng, ho, viêm họng, amidan, thanh quản, khản tiếng.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Dùng cho người bị ngứa họng, ho, viêm họng, viêm amidan, thanh quản, khản tiếng và trẻ em trên 1 tuổi.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        Thành phần gồm: Xạ can, kim ngân hoa, bạch chỉ, lá trầu không, hoàng bá, ngũ vị tử, hoa đu đủ đực, lá đào, natri benzoate, tinh dầu bạc hà, nước tinh khiết
                                    </li>
                                    <li class="list-group-item px-0">
                                        Thương hiệu: Nhất Nhất
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">1 review for "Product Name"</h4>
                                <div class="media mb-4">
                                    <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                        <div class="text-primary mb-2">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2">Your Rating * :</p>
                                    <div class="text-primary">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">BẠN CŨNG SẼ THÍCH</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @foreach(var item in Model.ListProduct)
                {
                    
                    <div class="product-item bg-light">
                        <a asp-controller="Detail" asp-action="Index" asp-route-id="@item.ProductId">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="@item.ProductImage" alt="">
                            </div>
                            <div class="text-center py-4">
                                <span class="h6 text-decoration-none text-truncate" >@item.ProductName</span>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    @{
                                        double? discountPercent = Model.DiscountPercentMap.ContainsKey(item.ProductId) ? Model.DiscountPercentMap[item.ProductId] : 0;
                                        string ItemformattedPrice = string.Format("{0:N0} VNĐ", item.ProductPrice);
                                        if (discountPercent != 0)
                                        {
                                            double? ItemcurrentPrice = item.ProductPrice - (item.ProductPrice * discountPercent / 100);
                                            string ItemformattedCurrentPrice = string.Format("{0:N0} VNĐ", ItemcurrentPrice);

                                            <h5>@ItemformattedCurrentPrice</h5>
                                            <h6 class="text-muted ml-2"><del>@ItemformattedPrice</del></h6>
                                        }
                                        else
                                        {
                                            <h5>@ItemformattedPrice</h5>
                                            <h6 class="text-muted ml-2"><del>0%</del></h6>
                                        }
                                    }
                               
                                </div>
                            <a href="" class="btn btn-primary">Thêm vào giỏ hàng</a>
                        </div>
                        </a>
                    </div>
                }
              
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
