@model IEnumerable<Supplier>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Nhà cung cấp";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
    // <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
}
<div class="main-container">
    <h2 class="col">Nhà cung cấp</h2>
    @using (Html.BeginForm("Index", "Supplier", FormMethod.Get))
    {
        <div class="row custom-search-form">
            <div class="dropdown-type col-sm-3">
                <select name="condition" class="form-control">
                    <option value="name">Tên</option>
                    <option value="email">Email</option>
                    <option value="phone">Số điện thoại</option>
                </select>
            </div>
            <div class="input-group  col-sm-10">
                <input name="search" type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Thêm mới", "Create", "Supplier", null, new { @class = "btn btn-outline btn-success" , style ="margin-bottom: 20px;"})
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<table class="table table-bordered">
    <tr>
        <th>
            <span>Tên nhà cung cấp</span>

        </th>
        <th>
            <span>Email</span>
        </th>
        <th>
            <span>Số điện thoại</span>
        </th>
        <th>
            <span>Địa chỉ</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddress)
            </td>
            <td>
                @*<a class="ToastrDanger" href="#">Sửa</a>*@
                @Html.ActionLink("Sửa", "Edit", new { id = item.SupplierId })|
                <a onclick="confirmDelete('@item.SupplierId', '@item.SupplierName', '@Url.Action("Delete", "Supplier")','nhà cung cấp')">Xóa</a>
            </td>
        </tr>
    }
</table>
<div class="pagination-admin">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { page , search = Context.Request.Query["search"],  condition = Context.Request.Query["condition"]}))
</div>

<script src="~/Scripts/notify/NotifyAdmin.js"></script>