@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "Lịch sử mua hàng";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
   
}

<h2>Lịch sử mua hàng</h2>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>ID</span>
                </th>
                <th>
                    <span>Thời gian mua</span>
                </th>
                <th>
                    <span>Số lượng</span>
                </th>
                <th>
                    <span>Tên sản phẩm</span>
                </th>
                <th>
                    <span>Giá sản phẩm</span>
                </th>
                <th>
                    <span>Tạm tính</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          
                @foreach (var temp in Model)
                {

                    <tr>
                        <td>@temp.OrderId
                        </td>
                  
                        <td>
                        @temp.Order.OrderDate
                        </td>
                        <td>
                            @temp.OrderDetailsQuantity
                        </td>
                        <td>
                            @temp.Cost.Product.ProductName
                        </td>
                        <td>
                            @(string.Format("{0:N0} VNĐ", @temp.OrderDetailsPrice))
                        </td>
                        <td>
                            @(string.Format("{0:N0} VNĐ", @temp.OrderDetailsTemporaryPrice))

                        </td>

                    </tr>

                }
            

        </tbody>
        <tr>
            <td style='text-align:left;padding: 10px;' colspan='3'></td>
            <td style='text-align:left;padding: 10px;'>Tổng cộng:</td>
            <td style='text-align:left;padding: 10px;'> @string.Format("{0:N0} VNĐ", @ViewBag.CartTotalPrice)</td>

            <td></td>
        </tr>
    </table>
    
</div>
<div>
    <i class="fa fa-reply"></i>
    @Html.ActionLink("Quay lại", "CheckHistoryOrder", new { id = @ViewBag.customerid })
</div>
