@model IEnumerable<Pharmacy.ViewsModels.CartItemViewModels>;
@{
    ViewBag.Title = "Giỏ hàng";
    string CartTotalPrice = (@ViewBag.CartTotalPrice!=null ? string.Format("{0:N0} VNĐ", @ViewBag.CartTotalPrice) : null);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="~/Home">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="~/Products">Sản phẩm</a>
                <span class="breadcrumb-item active">Giỏ hàng</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tạm tính</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if(Model != null)
                    {
                        @foreach(var item in Model)
                        {
                            string ProductPrice = string.Format("{0:N0} VNĐ", @item.CartDetailPriceCurrent);
                            string CartDetailTemporaryPrice = string.Format("{0:N0} VNĐ", @item.CartDetailTemporaryPrice);
                            <form asp-action="UpdateToCart" asp-controller="Cart">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <input type="hidden" name="Price" value='@item.CartDetailPriceCurrent' />
                                <tr>
                                    <td class="align-middle"><img src="@item.ProductImage" alt="@item.ProductName" style="width: 50px;"> @item.ProductName</td>
                                    <td class="align-middle">@ProductPrice</td>
                                    <td class="align-middle">
                                        <div class="input-group quantity mx-auto" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" name="quantity" value="@item.CartDetailQuantity">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">@CartDetailTemporaryPrice</td>

                                <td class="align-middle"><a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.CartDetailId', '@item.ProductName', '@Url.Action("Delete", "Cart")','sản phẩm')"><i class="fa fa-times"></i></a></td>
                            </tr>
                            </form>
                        }
                    }
                </tbody>
            </table>
                    @if (TempData["PaymentSuccess"] !=  null)
                    {
                    <span class="text-success">
                        @Html.Raw(TempData["PaymentSuccess"])
                    </span>
                    }
                    @if (TempData["PaymentCancel"] != null)
                    {
                        <span class="text-danger">
                         @Html.Raw(TempData["PaymentCancel"])
                        </span>
                    }
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Tóm tắt giỏ hàng</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tổng tiền</h6>
                        <h6>@CartTotalPrice</h6>
                    </div>
                
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tạm tính</h5>
                        <h5>@CartTotalPrice </h5>
                    </div>
                    <form asp-action="Index" asp-controller="Payment" method="post">
                        <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" />
                        <input type="hidden" name="amount" value="@ViewBag.CartTotalPrice" />
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">TIẾN HÀNH THANH TOÁN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

<script src="~/Scripts/notify/NotifyAdmin.js"></script>
