@model Pharmacy.Data.Product

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="detail-product">
        <div class="row">
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.ProductName)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.ProductName)" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                @Html.DisplayNameFor(model => model.ProductPrice)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.ProductPrice)" readonly />
            </div>
        </div>
        <div class="form-group mb-3">
            <label>@Html.DisplayNameFor(model => model.ProductDetail)</label>
            <textarea class="form-control tm-small"
                      rows="5"
                      readonly>@Html.DisplayFor(model => model.ProductDetail)"</textarea>
        </div>
        <div class="form-group ingredient">
            <label>
                @Html.DisplayNameFor(model => model.ProductIngredients)
            </label>
            <input type="text" class="form-control"
                   value="@Html.DisplayFor(model => model.ProductIngredients)" readonly />
        </div>
        <div class="row">
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.ProductInventory)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.ProductInventory)" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.ProductExpiryDate)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.ProductExpiryDate)" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.ProductPrescription)
                </label>
                <input type="text" class="form-control" value="@(Model.ProductPrescription.HasValue && Model.ProductPrescription.Value ? "Có" : "Không")" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                @Html.DisplayNameFor(model => model.ProductActive)
                </label>
                <input type="text" class="form-control" value="@(Model.ProductActive.HasValue && Model.ProductActive.Value ? "Đang kinh doanh" : "Ngừng kinh doanh")" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.Category)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.Category.CategoryName)" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.Discount)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.Discount.DiscountName)" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.Supplier)
                </label>
                <input type="text" class="form-control"
                       value="@Html.DisplayFor(model => model.Supplier.SupplierAddress)" readonly />
            </div>
            <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label>
                    @Html.DisplayNameFor(model => model.ProductImage)
                </label>
                <img src="@Html.DisplayFor(model => model.ProductImage)" alt="Product Image" width="100" height="100" />
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
