@using System.Web;
@model Pharmacy.Data.Product

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div>
                    <div class="image-dt">
                        <img class="imge w-100 h-100" src="@Html.DisplayFor(model => model.ProductImage)" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <div class="detail-pro d-flex mb-4">
                        <p class="mb-4">
                            <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductName):</strong>
                            @Html.DisplayFor(model => model.ProductName)
                        </p>
                    </div>
                    <div class="detail-pro d-flex mb-4">
                        <p class="mb-4">
                            <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductPrice):</strong>
                            @Html.DisplayFor(model => model.ProductPrice)
                        </p>
                    </div>
                    <div class="detail-pro d-flex mb-4">
                        <p class="mb-4">
                            <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.CategoryId):</strong>
                            @ViewBag.categoryName
                        </p>
                    </div>
                    <div class="detail-pro d-flex mb-3">
                        <p class="mb-4">
                            <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductIngredients):</strong>
                            @Html.DisplayFor(model => model.ProductIngredients)
                        </p>
                    </div>
                    <div class="detail-pro d-flex mb-3">
                        <p class="image-detail mb-4">
                            <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductDetail):</strong>
                            @Html.Raw(Model.ProductDetail)
                        </p>
                    </div>
                    
                </div>
                <div class="detail">
                    <div class="col-lg-7 mb-30">
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductExpiryDate):</strong>
                                @Html.DisplayFor(model => model.ProductExpiryDate)
                            </p>
                        </div>
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductPrescription):</strong>
                                    
                            </p>
                        </div>
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductActive):</strong>
                                @(Model.ProductActive.HasValue && Model.ProductActive.Value ? "Đang kinh doanh" : "Ngừng kinh doanh")
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-30">
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.ProductInventory):</strong>
                                @Html.DisplayFor(model => model.ProductInventory)
                            </p>
                        </div>
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.DiscountId):</strong>
                                @ViewBag.discountName
                            </p>
                        </div>
                        <div class="detail-pro d-flex mb-4">
                            <p class="mb-4">
                                <strong class="text-dark mr-3">@Html.DisplayNameFor(model => model.SupplierId):</strong>
                                @ViewBag.supplierName
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="back-pro">
    <i class="fa fa-reply"></i>
    @Html.ActionLink("Quay lại", "Index")
</div>
