@model IEnumerable<Pharmacy.Data.Product>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
    // <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
}
<div class="main-container">
    <h2 class="col">Sản phẩm</h2>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div class="row custom-search-form">
            <div class="dropdown-type col-sm-3">
                <select name="condition" class="form-control">
                    <option value="name">Tên</option>
                    <option value="email">Email</option>
                    <option value="phone">Số điện thoại</option>
                </select>
            </div>
            <div class="input-group  col-sm-10">
                <input name="search" type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            <span>Tên sản phẩm</span>
        </th>
        <th>
            <span>Giá</span>
        </th>
        <th>
            <span>Kho</span>
        </th>
        <th>
            <span>Hết hạn</span>
        </th>
        <th>
            <span>Hình ảnh</span>
        </th>
        <th>
            <span>Trạng thái</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductExpiryDate)
            </td>
            <td>
                <img src="@item.ProductImage" alt="Product Image" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductActive)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Detail", new { id = item.ProductId })|
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductId })|
                <a onclick="confirmDelete('@item.ProductId', '@item.ProductName', '@Url.Action("Delete", "Product")','sản phẩm')">Xóa</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new { page , search = Context.Request.Query["search"], condition = Context.Request.Query["condition"]}))

<script src="~/Scripts/notify/NotifyAdmin.js"></script>