@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<ProductCost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout_Admin.cshtml";
}

<div class="main-container">
    <h2 class="col">Quản lý sản phẩm nhập</h2>
    @using (Html.BeginForm("Index", "ProductCost", FormMethod.Get))
    {
        <div class="row custom-search-form">
            <div class="dropdown-type col-sm-3">
                <select name="condition" class="form-control">
                    <option value="productname">Tên sản phẩm</option>
                    <option value="suppliername">Tên nhà cung cấp</option>
              
                </select>
            </div>
            <div class="input-group  col-sm-10">
                <input name="search" type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    }
</div>
<p>
    Danh sách sản phẩm nhập
</p>
@Html.ActionLink("Thêm mới", "Create", "ProductCost", null, new { @class = "btn btn-outline btn-success", style = "margin-bottom: 20px;" })
<div class="col">
    <div class="panel panel-default">
        <!-- /.panel-heading -->
        <div class="panel-body">

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="accept">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <span>ID</span>
                                </th>
                                <th>
                                    <span>Tên sản phẩm</span>
                                </th>
                                <th>
                                    <span>Nhà cung cấp</span>
                                </th>
                                <th>
                                    <span>Giá nhập</span>
                                </th>
                                
                                <th>
                                    <span>Hạn sử dụng</span>
                                </th>
                                <th>
                                    <span>Kho</span>
                                </th>
                                <th>
                                    <span>Ngày nhập</span>
                                </th>
                                <th>
                                    <span>Trạng thái</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CostId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                                        </td>
                                        <td>
                                            <span> @string.Format("{0:N0} VNĐ", item.CostPrice)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductExpiryDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductInventory)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReceivingDate)
                                        </td>
                                        <td>
                                        <td>
                                            <span style=" background-color: @(item.CostActive == true ? "green" : "orange"); color: white">
                                                    @(item.CostActive == true ? "Đang áp dụng" : "Ngừng áp dụng")
                                            </span>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.CostId })|
                                            <a onclick="confirmDelete('@item.CostId', '@item.Product.ProductName', '@Url.Action("Delete", "ProductCost")','Giá sản phẩm')">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-admin">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, search = Context.Request.Query["search"], condition = Context.Request.Query["condition"] }))
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<script src="~/Scripts/notify/NotifyAdmin.js"></script>

<script src="~/Scripts/notify/NotifyAdmin.js"></script>